input_file=../data/acl/acl.jsonlist.gz
background_file=../data/nips/nips.jsonlist.gz
data_output_dir=acl_example/processing/
final_output_dir=acl_example/output/
prefix=acl
mallet_bin_dir=C:\Users\rushni\Documents\Dev\Java\mallet-2.0.8\bin
option=topics
num_ideas=100
objects_location=topics_data.p
create_graphs=True
